h1{
    /*color: blue;*/
    color: #10f;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-content;

}

.site-discription{
    display: flex;
    flex-direction: coloum;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    margin-left: 50px;
    aline: left;
}


body{
    background-color: aqua;
}

